* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}

.p-3 {
	padding: 15px;
}

.bg-secondary {
	background-color: lightslategray;
}

.bg-success {
	background-color: forestgreen;
}

.bg-warning {
	background-color: orange;
}

.bg-danger {
	background-color: darkred;
}

/*Flexbox*/
.d-flex {
	display: flex;
}


/*justify-content is only used if the children are under display: flex --- horizontally centers the display flex elements*/
.justify-content-center {
	justify-content: center;
}

/*vertically centers the display flex elements*/
.align-items-center {
	align-items: center;
}

/*tells the direction of how the elements are positioned inside a flex container*/
.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}